@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

.container1{
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
header{
    height: 70px;
    background-color: white;
}
main{
    padding-top: 10px;
    background-color: #F5F5FA;
    height: 1000px;
}
main .col1 {
    padding-top: 30px;
}
main .col1 .line-left img{
    padding-top: 10px;
    padding-right: 5px;
    float:left;
    width:65px;
}
main .col1 .line-right img{
    padding-top: 10px;
    padding-left: 5px;
    float:left;
    width:65px;
}
main .col1 h3{
    float:left;
}
main .col2 {
    width: 100%;
    padding-top: 70px;
}
main .col2 .item h4{
    width: 100%;
    text-align: center;
}
main .col2 .item img{
    width: 100%;
    margin-left: 0px;
}
main .col3 {
    width: 100%;
    padding-top: 20px;
}
main .col3 .form-group {
    width: 100%;
}
main .col3 .form-group button{
    margin-top: 20px;
    margin-left: 140px;
    padding 20px;
}
main .col3 .form-group .item-row-col1{
    width: 20%;
    float:left;
}
main .col3 .form-group .item-row-col1 label{
    font-size: 90%;
}
main .col3 .form-group .item-row-col2{
    width: 25%;
    float:left;
}
main .col3 .form-group .item-row-col3{
    width: 25%;
    float:left;
}
main .col3 .form-group .item-row-col3 label{
    font-size: 90%;
}
main .col3 .form-group .item-row-col4{
    width: 25%;
    float:left;
}
.container-user{
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
main .user-col2 {
    width: 50%;
    padding-top: 100px;
    margin-left: 150px;
    float:left;
}
main .user-col2 .item img{
    width: 60%;
}

main .user-col3 {
    width: 30%;
    padding-top: 100px;
    float:left;
}
main .user-col3 .user-startPrice{
    clear: both;
    width: 100%;
}
main .user-col3 .user-startPrice .user-startPrice-col1{
````margin-top: 10px;
    width: 20%;
    padding-top:15px;
    float:left;
}
main .user-col3 .user-startPrice .user-startPrice-col2{
    margin-top: 10px;
    width: 80%;
    float:left;
}
main .user-col3 .user-submit button {
   margin-top: 30px;
   padding 20px;
}