@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #E6E6FA;
    height: 80px;
}
header .logo{
    margin-top: 10px;
    float: left;
    width:15%;
}
header .main-menu{
    padding-top: 10px;
    float: left;
    width: 55%;
}
header .main-menu .menu-select-2{
    padding-top: 10px;
    float: left;
    width:50%;
}
header .main-menu .menu-select-1{
    padding-top: 15px;
    float: left;
    margin-left: 20px;
    width:13%;

}

header .login{
    padding-top: 25px;
    float: left;
    width:30%;
}
header .login  a{
    float: left;
    margin-left: 20px;
    text-decoration:none;
}