@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}
header{
    height: 70px;
    background-color: white;
}
main{
    padding-top: 10px;
    height: auto;
}
main .col1 {
    padding-top: 30px;
    padding-left: 335px;
}
main .col1 .line-left img{
    padding-top: 10px;
    padding-right: 5px;
    float:left;
    width:100px;
}
main .col1 .line-right img{
    padding-top: 10px;
    padding-left: 5px;
    float:left;
    width:100px;
}
main .col1 h2{
    float:left;
}
main .col2 .auction-time{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    float:left;
}
main .col2 .auction-time{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    float:left;
}
main .col2 .auction-time .time{
    width: 23%;
}
main .col2 .auction-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    float:left;
}
main .col2 .auction-product .item{
    width: 276px;
    margin: 7px;
    padding: 10px;
    border-radius: 0 0 50px 50px;
    background-color: #BEBEBE;
    border-style: groove;
}
main .col2 .auction-product h5{
    text-align: center;
}
main .col2 .auction-product img{
    clear: both;
    padding: 7px;
    width:250px;
    height:300px;
    border-radius: 0 30px 0 30px;
}
main .col2 .auction-product h4{
    text-align: center;
}
main .col2 .auction-product a{
    margin-left: 80px;
}