@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
}
header{
    height: 70px;
    background-color: white;
}
main{
    padding-top: 10px;
    background-color: #F5F5FA;
    height: 800px;
}
main .col1 {
    padding-top: 30px;
    padding-left: 450px;
}
main .col1 img{
    float:left;
    width:50px;
}
main .col1 h3{
    float:left;
}
main .col2 {
    width: 100%;
}
main .col2 .item-menu{
    clear: both;
    width: 100%;
}
main .col2 .item-menu .item-menu-1{
    clear: both;
    width: 14%;
    float:left;
}
main .col2 .item-menu .item-menu-2{
    width: 14%;
    float:left;
}
main .col2 .flex-container{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    float:left;
}
main .col2 .flex-container .item{
    width: 100%;
}
main .col2 .flex-container .item .item-1{
    width: 14%;
    float:left;
}
main .col2 .flex-container .item .item-2{
    width: 14%;
    float:left;
}
main .col2 .flex-container .item .item-2 input{
    width: 80%;
}
main .col2 .flex-container .item .item-2 img{
    width: 60%;
}
main .col2-2 {
    width: 80%;
    padding-top: 70px;
    padding-left: 260px;
}